<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2yplAfyWBylEhw5iMlSlyS0iwV-7Axp8</string>
	<key>GCM_SENDER_ID</key>
	<string>995451833005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lihatLukis.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lihatlukis</string>
	<key>STORAGE_BUCKET</key>
	<string>lihatlukis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995451833005:ios:67f248ef78ad3c8fb3d424</string>
</dict>
</plist>